.orders-and-products {
    display: flex;
    gap: 1.5em;
}

.recent-orders {
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.221);
    border-radius: 1em;
    padding: 1.5em;
    width: 80%;
    background-color: #07070C;
}

.recent-orders table {
    width: 100%;
}

.recent-orders th {
    padding: 1em 0;
    text-align: left;
    color: #9CA3AF;
}

.recent-orders td {
    border-top: 1px solid rgba(128, 128, 128, 0.221);
    padding: 0.4em 1em 0.4em 0em;
}

.status {
    border-radius: 1em;
    font-size: 14px;
    padding: 0.3em 1em;
}

.completed {
    color: #34ff7f;
    background-color: #0D2D1D;
}

.pending {
    color: #ffc20b;
    background-color: #352A0B;
}

.processing {
    color: #3b86ff;
    background-color: #12203B;
}


.recent-orders-title {
    display: flex;
    justify-content: space-between;
}

.orders-and-products button {
    color: cyan;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.orders-and-products button:hover {
    color: rgba(0, 255, 255, 0.728);
}

.top-products {
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.221);
    border-radius: 1em;
    padding: 1.5em;
    width: 40%;
    background-color: #07070C;
}

.top-products img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.top-products-title,
.item-card {
    display: flex;
    justify-content: space-between;
}

.item-card {
    padding-top: 0.7em;
}

.item-card span {
    color: cyan;
}

.item-card h4 {
    font-size: 16px;
}

.item-card p {
    font-size: 14px;
}

.item-card-name {
    display: flex;
    gap: 0.8em;
}