.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.hero-section {
    background: url('https://public.readdy.ai/ai/img_res/1cd20f210a7471c9605fadedb9502475.jpg') center/cover no-repeat;
    position: relative;
    padding: 2em;
    text-align: center;
}

.hero-section .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.hero-section .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.05);
    width: 50%;
    align-self: center;
    padding: 1em 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.form,
.form input {
    border: 1px solid rgba(128, 128, 128, 0.221);
    border-radius: 1em;
    background-color: #07070c9b;
}

.form input {
    margin: 0.5em 0;
    padding: 0.5em 1em;
    font-size: 16px;
    color: cyan;
    outline: none;
    transition: box-shadow 0.3s ease;
    opacity: 0.8;
    width: 60%
}

.form input:active,
.form input:focus {
    border: 1px solid #00F0FF;
    box-shadow: 0 0 30px rgba(0, 240, 255, 0.5);
    transition: 0.2s ease-in;
}

.form input:hover {
    border-color: cyan;
    transition: 0.3s ease-in;
}

.form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

.form h1 {
    font-size: 24px;
    padding: 1em 0;
    color: cyan;
}

.form p {
    color: cyan;
    font-size: 14px;
    align-self: left;
}

.form a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 1em;
    cursor: default;
}

.form a:hover {
    color: cyan;
    transition: 0.3s ease;
}

.form button {
    background-color: cyan;
    border: none;
    margin: 1em 0;
    width: 60%;
    padding: 0.5em 2em;
    border-radius: 1em;
    font-size: 16px;
    font-family: sans-serif;
}

.form button:hover {
    background-color: rgba(0, 255, 255, 0.657);
    transition: 0.2s ease;
}

.logo {
    border-radius: 50%;
    height: 80px;
}