.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.05);
    align-self: center;
    width: 100%;
    max-width: 500px;
    padding: 1em 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.form,
.form textarea,
.form input,
.form-select {
    border: 1px solid rgba(128, 128, 128, 0.221);
    border-radius: 1em;
    background-color: #07070c9b;
}

.form input,
.form-select {
    margin: 0.5em 0;
    padding: 0.5em 1em;
    font-size: 16px;
    color: cyan;
    outline: none;
    transition: box-shadow 0.3s ease;
    opacity: 0.8;
    width: 40%;
}

.form input:active,
.form input:focus,
.form textarea:active,
.form textarea:focus,
.form-select:active,
.form-select:focus {
    border: 1px solid #00F0FF;
    box-shadow: 0 0 30px rgba(0, 240, 255, 0.5);
    transition: 0.2s ease-in;
    outline: none;
}

.form input:hover,
.form-select:hover,
.form textarea:hover {
    border-color: cyan;
    transition: 0.3s ease-in;
}

.form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

.form h1 {
    font-size: 24px;
    padding: 1em 0;
    color: cyan;
}

.form p {
    color: cyan;
    font-size: 14px;
    align-self: left;
}

.form a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 1em;
    cursor: default;
}

.form a:hover {
    color: cyan;
    transition: 0.3s ease;
}

.create-btn {
    border: none;
    margin: 1em 0 0.5em 0;
    width: 60%;
    padding: 0.5em 2em;
    border-radius: 1em;
    font-size: 16px;
    font-family: sans-serif;
}

.create-btn {
    background-color: cyan;
}

.create-btn:hover {
    background-color: rgba(0, 255, 255, 0.657);
    transition: 0.2s ease;
}

.logo {
    border-radius: 50%;
    height: 80px;
}

.form-select {
    width: 40%;
    color: cyan;
}

.form-select option {
    color: cyan;
}

.form .error {
    color: red;
}

.item-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 0 1em;
    padding-left: 3em;
}

.form textarea {
    color: cyan;
    padding: 1em;
    resize: none;
}
