.admin-icon {
    position: fixed;
    z-index: 1;
    bottom: 40px;
    right: 20px;
    display: flex;
}

.admin-icon a {
    background-color: cyan;
    border-radius: 50%;
}

.admin-icon a:hover {
    transition: 0.3s ease;
    background-color: rgba(0, 255, 255, 0.688);
}

.admin-icon a i {
    color: black;
    padding: 1em 0.2em;
    font-size: 42px;
}

.admin-icon a i:hover {
    color: black;
}