.featured-products {
    display: flex;
    flex-direction: column;
    padding: 0 3em;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.top h1 {
    color: white;
    font-size: 28px;
}

.top span {
    background: linear-gradient(to right, #04EBFE, #6F7DE7, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inactive-btn,
.active-btn {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border-radius: 1.5em;
    padding: 0.5em 1.5em;
    margin: 0 0.1em;
}

.inactive-btn:hover {
    background-color: rgba(128, 128, 128, 0.269);
    transition: 0.2s ease-in;
}

.active-btn {
    background-color: cyan;
    color: black;
}

.product-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;
}


.view-products {
    text-align: center;
}

.view-products button {
    background-color: transparent;
    border: 1px solid cyan;
    color: cyan;
    border-radius: 0.7em;
    width: 200px;
    padding: 0.8em 0em;
    margin: 2em 0;
    font-size: 16px;
}